.vscode/
.idea/

build/
cmake-build-relwithdebinfo-visual-studio/
CMakeFiles/

BedrockAtlas/build/
BedrockAtlas/cmake-build-relwithdebinfo-visual-studio/
BedrockAtlas/CMakeFiles/

AdvancedF3/build/
AdvancedF3/cmake-build-relwithdebinfo-visual-studio/
AdvancedF3/CMakeFiles/